span.word.highlighted:before {
    content: attr(data-before);
    position: absolute;
    top: 5px;
    left: 0px;
    border-bottom: 2px solid black;
    width: calc(100% + 5px);
    height: 50%;
    font-weight: bold;
    white-space: nowrap;
    font-size: smaller;
}

span.word.highlightEnd:before {
    border-right: 2px solid black;
}

.annotation-text {
    /*white-space: pre-wrap;*/
}
.annotation-text > p {
    margin-bottom: 0.125rem;
}
.annotation-text > ul, .annotation-text > ol {
    margin-bottom: 0.125rem;
    margin-left: 0;
    padding-left: 1.5rem;
}

.annotationEditLink {
    cursor: pointer;
    color: #0000ff;
}


/* Layout - two columns on large screens, 1 on smaller screens*/
@media (min-width: 1000px) {
    .foregroundContainer {
        display: grid;
        grid-template-columns: minmax(auto, 1fr) 2.5fr;
        grid-template-areas: "document annotation";
    }
}

@media (max-width: 999px) {
    #foregroundContainer {
        display: block;
    }
}

.documentContainer {
    grid-area: document;
}

.annotationContainer {
    grid-area: annotation;
    margin-left: 1rem;
}

#title {
    z-index: 20;
    position: relative;
}

#container {
    position: relative;
    margin: 10px;
}

#backgroundContainer {
    position: absolute;
    left: -15px; /* bootstrap things*/
    z-index: 10;
    pointer-events: none;
    top: 0px; /*required to put the canvas behind stuff*/
}

.foregroundContainer {
    position: relative;
    width: 100%;
    z-index: 11;
}

.table-borderless, .table-borderless td, .table-borderless th {
    border: 0px solid #dee2e6;
}

@media print {
    .newAnnotationRow,
    .button-cell,
    #colouredModeToggle {
        display: none;
    }

    .foregroundContainer {
        display: grid;
        grid-template-columns: minmax(auto, 0.5fr) 1fr;
        grid-template-areas: "document annotation";
        page-break-before: right;
    }
}