@page
@using DocumentAnnotation.Models
@model global::DocumentAnnotation.Pages.Documents.CreateModel

@{
    ViewData["Title"] = "Create";
    ViewData["PageTitle"] = "Create a document:";
    ViewData["PageSubtitle"] = "";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Document.TextId" class="control-label">Text</label>
                <select class="form-control" asp-for="Document.TextId" asp-items="@(new SelectList(Model.Texts, nameof(TextData.TextId), nameof(TextData.Title)))">
                    <option>Please choose a text</option>
                </select>
                <small id="textHelpBlock" class="form-text text-muted">
                   Select the text you would like to annotate in this document - if the text you want isn't on the list, ask Max!
                </small>
                <span asp-validation-for="Document.TextId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Document.Name" class="control-label">Document Name</label>
                <input asp-for="Document.Name" class="form-control"/>
                <span asp-validation-for="Document.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
                <a asp-page="Index" class="btn btn-outline-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}