@page
@model DocumentAnnotation.Pages.Documents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create a new document</a>
</p>
@{
    var docsModel = new DocumentListModel(Model.Context, Model.UserManager, Model.User);
    await docsModel.OnGetAsync();
}

@await Html.PartialAsync("Documents/DocumentList", docsModel)