@page
@using DocumentAnnotation.Pages.Texts
@model DocumentAnnotation.Pages.Texts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Text</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Text.TextId"/>
            <div class="form-group">
                <label asp-for="Text.Title" class="control-label"></label>
                <input asp-for="Text.Title" class="form-control"/>
                <span asp-validation-for="Text.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text.Author" class="control-label"></label>
                <input asp-for="Text.Author" class="form-control"/>
                <span asp-validation-for="Text.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text.Abbreviation" class="control-label"></label>
                <input asp-for="Text.Abbreviation" class="form-control"/>
                <span asp-validation-for="Text.Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text.Identifier" class="control-label"></label>
                <input asp-for="Text.Identifier" class="form-control"/>
                <span asp-validation-for="Text.Identifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text.AddNewLine" class="control-label">Tick if text should not organically continue after each group in this text - e.g. true for verse, but false for everything else.</label>
                <input asp-for="Text.AddNewLine" class="form-control" type="checkbox"/>
                <span asp-validation-for="Text.AddNewLine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                
                <a class="btn btn-danger" asp-page="/Documents/Delete" asp-route-id="@Model.Text.TextId">Delete</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}