@page
@using DocumentAnnotation.Pages.Texts
@model DocumentAnnotation.Pages.Texts.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (Model.User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
@{
    var model = new TextListModel(Model._context, Model.User);
    await model.OnGetAsync();
}
@await Html.PartialAsync("Texts/TextList", model)