@page
@using DocumentAnnotation.Models
@using Microsoft.AspNetCore.Identity
@model global::DocumentAnnotation.Pages.IndexModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home";
    ViewData["UsePageTitle"] = false;
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">

        <h1 class="display-4">Welcome back!</h1>
        <p class="lead">Use the lists below or the links to find the text/document you'd like.</p>
    </div>

    var docsModel = new Documents.DocumentListModel(Model.Context, Model.UserManager, Model.User);
    await docsModel.OnGetAsync();

    @await Html.PartialAsync("Documents/DocumentList", docsModel)
    
    <hr/>
    <h4>Available Texts</h4>

    var textsModel = new Texts.TextListModel(Model.Context, Model.User);
    await textsModel.OnGetAsync();

    @await Html.PartialAsync("Texts/TextList", textsModel)

}
else
{
    <div class="jumbotron">

        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Log in to get started annotating texts.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-page="/Account/Login" role="button">Log in</a>
            or
            <a class="btn btn-primary btn-lg" asp-page="/Account/Register" role="button">Register</a>
        </p>
    </div>
    <h4>Texts available to read and annotate</h4>
    <p>(So far - more are being added)</p>

    var textsModel = new Texts.TextListModel(Model.Context, Model.User);
    await textsModel.OnGetAsync();

    @await Html.PartialAsync("Texts/TextList", textsModel)
}