@page
@model server.Pages.IndexModel
@using server.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home";
}
@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron">

        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Use the .</p>
        <hr class="my-4">
        <p>Once logged in, use the buttons above or below to read texts, annotate them and read your annotations.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-page="/Account/Login" role="button">Log in</a>
            or
            <a class="btn btn-primary btn-lg" asp-page="/Account/Register" role="button">Register</a>
        </p>
    </div>
    <div class="row">
    <div class="col-md-6">
        <h4>Texts</h4>
        @{
            var textsModel = new Texts.IndexModel(Model._context);
            await textsModel.OnGetAsync();
                
        }
        @Html.Partial("Texts/TextList", textsModel)
    </div>
        <div class="col-md-6">
            <h4>Your Documents</h4>
            @{
                var docsModel = new Documents.IndexModel(Model._context);
                await docsModel.OnGetAsync();

            }
            @Html.Partial("Documents/DocumentList", docsModel)
        </div>
    </div>
}
else
{
    <div class="jumbotron">

        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Log in to get started reading and annotating texts.</p>
        <hr class="my-4">
        <p>Once logged in, use the buttons above or below to read texts, annotate them and read your annotations.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-page="/Account/Login" role="button">Log in</a>
            or
            <a class="btn btn-primary btn-lg" asp-page="/Account/Register" role="button">Register</a>
        </p>
    </div>
}

