@using Markdig
@model DocumentAnnotation.Pages.Partials.AnnotationTablePartial


<table class="table table-sm table-striped table-borderless annotationTable">
    <thead>
    <tr>
        <th style="width: 1%"></th>
        <th style="width: 15%">Title</th>
        <th style="width: 70%">Description</th>
        @if (Model.IsEditable)
        {
            <th class="button-cell" style="width: 14%"></th>
        }
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.Annotations.Count; i++)
    {
        var ann = Model.Annotations[i];
        <tr id="annotation@(ann.AnnotationId)" data-ann-id="@ann.AnnotationId">
            <td style="background-color: @Model.AnnotationColour[ann.AnnotationId] !important" class="annotationTableColour"></td>
            <td>@ann.Title</td>
            <td>
                <span class="annotation-text" >@Html.Raw(Markdown.ToHtml(ann.Body))</span>
            </td>
            @if (Model.IsEditable)
            {
                <td class="button-cell">
                    <span class="annotationEditLink">Edit</span>
                </td>
            }
        </tr>
    }

    <tfoot>
    @if (Model.IsEditable)
    {
        <tr id="annotation0" data-ann-id="0" class="newAnnotationRow">
            <td style="background-color: #ffff00"></td>
            <td>
                <input type="text" class="form-control annTitle" placeholder="Annotation Title"
                       value="">
            </td>
            <td>
                <textarea rows="5" placeholder="Your annotation" class="form-control annBody"></textarea>
            </td>
            <td>
                <button class="btn btn-sm btn-primary ann-new-save">Save</button>
                <button class="btn btn-sm btn-outline-danger ann-new-cancel">Cancel</button>
            </td>
        </tr>
    }
    </tfoot>
    </tbody>
</table>