@using DocumentAnnotation.Models
@model Document

<h4>Document details</h4>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        Created by
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.UserName)
    </dd>
</dl>